* {
  font-family: "FiraCode Nerd Font", monospace;
  all: unset;
}
$white: #f5ffff;
$black: #0f1316;
$grey: #232949;
$purple: #5f6ece;
$blue: #0a61f0;
$red: #aa437e;
$yellow: #f8f87c;
$lightblue: #93cbec;

@import "scss/misc.scss";
@import "scss/wall.scss";
@import "scss/calendar.scss";
@import "scss/bars.scss";
@import "scss/icons.scss";
@import "scss/dashboard.scss";
@import "scss/power.scss";
@import "scss/dashboard-widgets.scss";

.eww_bar {
  background-color: $black;
  border: 3px solid $purple;
  border-radius: 25px;
}

.control {
  background-color: transparent;
  border: 2px solid $purple;
  margin: 5px 10px 5px 10px;
  padding: 0px 5px 0px 10px;
  border-radius: 25px;
}
