.volbar highlight {
  border-radius: 25px;
  background-color: $lightblue;
}

scale trough {
  background-color: $grey;
  border-radius: 25px;
  min-height: 10px;
  min-width: 100px;
}

.bribar trough highlight {
  background-color: $yellow;
  border-radius: 25px;
}

.music-bar trough highlight {
  background: linear-gradient(45deg, $black, $purple, $purple, $blue, $black);
  background-size: 400% 400%;
  animation: gradient 10s ease-in-out infinite;
  border-radius: 25px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
