.date {
  padding: 5px 10px 5px 10px;
  border-top: 2px solid $purple;
  border-bottom: 2px solid $purple;
  border-left: 2px solid $purple;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 18px;
}

.time {
  padding: 5px 10px 5px 0px;
  margin: 0px 10px 0px 0px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background: transparent;
  border-top: 2px solid $purple;
  border-bottom: 2px solid $purple;
  border-right: 2px solid $purple;
}
.time-time {
  color: $white;
  font-size: 18px;
}

