.volume-icon {
  padding: 0px 0px 0px 0px;
  margin: 0px 10px 0px 10px;
  font-size: 20px;
  color: $lightblue;
}
.brightness-icon {
  padding: 0px 0px 0px 0px;
  margin: 0px 10px 0px 15px;
  font-size: 20px;
  color: $yellow;
}
.bat {
  padding: 0px 10px 0px 10px;
  color: $red;
  font-size: 20px;
}

.wifi-icon {
  padding: 0px 5px 0px 0px;
  margin: 0px 10px 0px 10px;
  font-size: 20px;
  color: $blue;
}
.music-icon {
  font-size: 30px;
  margin: 0px 10px 0px 0px;
  color: $lightblue;
}

.updates-icon {
  padding:  1px 0px 0px 5px;
  color: $red;
  font-size: 18px;
  
}

.launcher-icon {
  font-size: 25px;
  color: $black;
  padding: 0px 5px 0px 4px;
}
