.workspaces-widget {
  background-color: transparent;
}
.workspace-entry {
  margin: 5px;
  font-size: 20px;
  color: $blue;
}
.launcher {
  background-color: $lightblue;
  border-radius: 25px;
  color: $black;
  margin: 10px 0px 10px 10px;
  padding: 0px 15px 0px 15px;
}

.updates {
  padding: 0px 10px 0px 0px;
  margin: 5px 10px 5px 0px;
  font-size: 20px;
}

.music-control {
  padding: 2px 0px 0px 15px;
}
