.wall {
  padding: 0px 60px 0px 50px;
  margin: 15px 10px 15px 10px;
  border-radius: 25px;
  background-color: $black;
  background: linear-gradient(45deg, $white, $purple, $purple, $blue, $white);
  background-size: 400% 400%;
  animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
